extends layout
block content
   
     h1 Edit this suggestion
     .row
       .formhold(style='background-color: background-color: rgba(255, 230, 204, 0.8);')
        each review in indOne
          form(method="post")
            fieldset
              label(for="name") Update Name:
              input(name="name", type="text", value="#{review.name}") 
              br
              br
              label(for="content") Update Suggestion:
              input(name="content", type="text", value="#{review.content}") 
              br
              br
              button.button(type="submit") Enter