extends layout
block content
  .row
   .header(style='background-color: rgba(255, 230, 204, 0.8);')
    h1 Welcome to CC's Book Case
    h2 What would you like to read today?
   .holder
       .large(style='background-color:#ffff33;')
          h2
            a(href='/yellow') Yellow Book
      .holder
        .large
          h2
           a(href='/red') Red Book
      .holder
        .large(style='background-color:#3333ff;')
          h2
            a(href='/blue') Blue Book
      .holder
        .large(style='background-color:#00b300;')
          h2
            a(href='/green') Green Book
          
  
