doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title CC's Bookcase
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', type='text/javascript')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js', type='text/javascript')
    link(href='https://fonts.googleapis.com/css?family=Flamenco|Josefin+Slab', rel='stylesheet')
    link(rel='stylesheet', href='../app.css', type='text/css')
    
  body
    .navhold
      .topnav
        a(href='/') Home
        a(href='/products') Books
        a(href='/create') Add new Book
        a(href='/suggestions') Book Suggestions
        a(href='/add') Add your Suggestion
        
            
    
      
     
  block content
  
  .footer created by CorneliaVos 17157773 with help from W3schools and Liam McCabe
    